.Rproj.user
.Rhistory
.RData
.Ruserdata

# Data files
All_Cleaned_April2019_V2.csv
GEx_cleaned_11June2020.csv
gex_multdiff_site_block.csv
community_difference_allmetrics_siteavg_12June2020b.csv

# Mac DS Store
.DS_Store
